<!-- <p>elearning works!</p> -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4 mx-auto p-2 py-2 px-1">
                    <label for="subject">Select Subject</label>
                    <select class="form-control" name="subject" id="subject" (change)="onSelectSubjectChange($event)">
                       <option value="">Select Subject</option>
                        <option *ngFor="let subject of subjects" value="{{subject.subjectValue}}">{{subject.subjectName}}</option>
                    </select>
                </div>
                <div class="col-md-4 mx-auto  p-2 py-2 px-1">
                    <label for="chapter">Select Chapter</label>
                    <select class="form-control" name="chapter" id="chapter" (change)="onSelectChapterChange($event)">
                       <option value="">Select Chapter</option>
                        <option *ngFor="let chapter of chapters" value="{{chapter.chapterTitle}}">{{chapter.chapterTitle}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid p-3 py-4">
    <div class="row p-2 py-2" *ngFor="let item of list">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4 mx-auto text-center">
                    <div>
                        <h1>Title:{{item['title']}}</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div>
                        <!-- {{item['link']}} -->
                        <!-- item: {{item}} -->
                        <iframe [src]='item.link | safe' frameborder="3" width="100%" height="400px" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="row p-5">
    <div class="row">
        <div class="col-md-12" *ngFor="let item of list" style="border: black;">
            <div class="row">
                <div class="col-md-5 mx-auto">
                    <h2>Title:{{item['title']}}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div>
                      
                        <iframe [src]='item.link | safe' frameborder="0" width="700" height="400" allowfullscreen></iframe>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col"> </div>
</div> -->
<!-- {{item['link']}} -->
<!-- item: {{item}} -->