<!-- <p>admin works!</p> -->
<div class="row p-5">
    <div class="col-md-3"></div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
               <div class="card-body">
                  <h5 class="card-title">Teachers</h5>
                  <p class="card-text">Manage Attendance.</p>
                  <a href="#" routerLink="/classes" class="btn btn-primary">Visit</a>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                   <h5 class="card-title">Management</h5>
                   <p class="card-text">Manage students.</p>
                   <a href="#" routerLink="/students" class="btn btn-primary">Visit</a>
                 </div>
               </div>
     
        </div>
    </div>