<!-- <p>student-dashboard works!</p> -->
<div class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-light  ">
        <button class="navbar-brand btn btn-success ml-auto color-white"routerLink="/presentation">Presentation</button>
        <button class="navbar-brand btn btn-success color-white" routerLink='/e-learning/{{className}}'
            routerLinkActive="active">E-Learning</button>
    </nav>

</div>
<div class="row p-5">
    <div class="col">

        <div class="row p-5">
            <div class="col">
                <div class="row">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-4">
                        <div><label style="background-color: orange;">Welcome {{studentName}}</label></div>
                    </div>
                    <div class="col-md-3">

                        <div><label style="background-color:orangered;">{{className}}</label></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row p-2">

            <div class="col-md-3"></div>
            <div class="col-md-4">
                <label for="classes">Select Subject</label>
                <select id="classes" class="form-control" (change)="onSelectSubjectChange($event)">
                    <option value="#">Select Subject</option>
                    <option value="{{subject.subjectValue}}" *ngFor="let subject of subjects">{{subject.subjectName}}</option>
                </select>
            </div>

        </div>

        <div class="row ">
            <div class="col-md-1"></div>
            <div class="col-md-5">

                <table class="table  table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Note Title</th>
                            <th scope="col">Note File</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let note of notes; let i=index;">
                            <th scope="row">{{i+1}}</th>
                            <td>{{note.payload.val().noteTitle}}</td>
                            <!-- <td><a href="{{note.fileLink}}" target="_blank" rel="noopener noreferrer">Download</a></td> -->
                            <td><a href="javascript:void(0)"
                                    (click)="downloadFile(note.fileLink,note.payload.val().noteTitle)">Download</a></td>
                            <!-- <a [href]="note.fileLink" download>Download</a> -->
                        </tr>
                    </tbody>
                    <tfoot>
                        <!-- <tr>
                           <td></td>
                        </tr> -->
                    </tfoot>
                </table>

            </div>
            <div class="col-md-4">
                <table class="table  table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Resource Title</th>
                            <th scope="col">Visit</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let resource of resources; let i=index;">
                            <th scope="row">{{i+1}}</th>
                            <td>{{resource.payload.val().resourceTitle}}</td>
                            <td><a href="javascript:void(0)" *ngIf="linkIsYoutube(resource.payload.val().resourceName)"
                                    (click)="setResourceName(resource.payload.val().resourceName)">
                                    Start Video</a></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <!-- <tr>
                            <td></td>
                            
                            
                        </tr> -->
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <iframe [src]='link | safe' frameborder="0" width="450" height="400" *ngIf="showLink"
                    allowfullscreen></iframe>
            </div>
            <div class="col"></div>

        </div>
    </div>
    <div class="modal fade" id="resourceModal" tabindex="-1" role="dialog" aria-labelledby="resourceModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="resourceModalLabel">Add Resource</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <iframe [src]='link | safe' frameborder="0" width="450" height="400" allowfullscreen></iframe>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>