
<div class="row p-5">
    <div class="col">
        <!-- <div class="row p-5">
            <div class="col-md-3"></div>
            <div class="col-md-3">

                <label for="classes">Select Class</label>
                <select id="classes" class="form-control">
                    <option *ngFor="let class of classes" value="{{class.payload.val()}}">{{class.key}}</option>
                </select>
            </div>
        </div> -->
        <div class="row p-5">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <label for="classes">Select Class</label>
                <select id="classes" class="form-control" (change)="onSelectClassChange($event)">
                    <option value="#">Select Class</option>
                    <option value="class-6">class-6</option>
                    <option value="class-7">class-7</option>
                    <option value="class-8">class-8</option>
                    <option value="class-9">class-9</option>
                    <option value="class-10">class-10</option>
                  </select>
            </div>
            <div class="col-md-4">
                <label for="classes">Select Subject</label>
                <select id="classes" class="form-control" (change)="onSelectSubjectChange($event)">
                    <option value="#">Select Subject</option>
                    <option value="Telugu">Telugu</option>
                    <option value="English">English</option>
                    <option value="Hindi">Hindi</option>
                    <option value="Science">Science</option>
                    <option value="Maths">Maths</option>
                  </select>
            </div>

        </div>

        <div class="row ">
            <div class="col-md-1"></div>
            <div class="col-md-5">

                <table class="table  table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Note Title</th>
                            <th scope="col">Note File</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let note of notes; let i=index;">
                            <th scope="row">{{i+1}}</th>
                            <td>{{note.payload.val().noteTitle}}</td>
                            <td>{{note.payload.val().fileName}}</td>
                            <td><button class="btn btn-primary" (click)="setEditParams(note)" data-toggle="modal"
                                    data-target="#exampleModal">Edit</button></td>
                            <td><button class="btn btn-primary" (click)="confirmDelete(note)">Delete</button>
                            </td>
                        </tr>
                       </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><button type="button" (click)="cleanNotesInputs()" class="btn btn-primary"
                                    data-toggle="modal" data-target="#exampleModal">
                                    Add Notes
                                </button></td>
                        </tr>
                    </tfoot>
                </table>
               
            </div>
            <div class="col-md-4">
                <table class="table  table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Resource</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let resource of resources; let i=index;">
                            <th scope="row">{{i+1}}</th>
                            <td>{{resource.payload.val().resource}}</td>
                            <td><button class="btn btn-primary" (click)="setResourceEditParams(resource)" data-toggle="modal"
                                    data-target="#resourceModal">Edit</button></td>
                            <td><button class="btn btn-primary" (click)="confirmResourceDelete(resource.key)">Delete</button>
                            </td>
                        </tr>
                       </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><button type="button" (click)="cleanResourceInputs()" class="btn btn-primary"
                                    data-toggle="modal" data-target="#resourceModal">
                                    Add Resource
                                </button></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Notes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="notesForm" (ngSubmit)="onFormSubmit()">
                        
                        <label for="noteTitle">Enter Notes Title</label>
                        <input formControlName="noteTitle" [(ngModel)]="noteTitle" class="form-control" type="text"
                            name="noteTitle" id="noteTitle">

                            <label *ngIf="previousFile">PreviousFile: {{noteFileName}}</label>
                        <label for="noteFile">Add File</label>
                        <input formControlName="noteFile" [(ngModel)]="noteFile" (change)="fileChange($event)" class="form-control"
                            type="file" accept=".doc,.docx,.pdf" name="noteFile" id="noteFile">

                        <button class="form-control btn btn-primary mt-2" [disabled]="notesForm.invalid || notesSubmitDisabled"
                            type="submit">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                   </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="resourceModal" tabindex="-1" role="dialog" aria-labelledby="resourceModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resourceModalLabel">Add Resource</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="resourcesForm" (ngSubmit)="onResourceFormSubmit()">
                    
                    <label for="resourceName">Enter Resource Link</label>
                    <input formControlName="resourceName" [(ngModel)]="resourceName" class="form-control" type="text"
                        name="resourceName" id="resourceName">

                    
                    <button class="form-control btn btn-primary mt-2" [disabled]="resourcesForm.invalid"
                        type="submit">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               </div>
        </div>
    </div>
</div>
</div>