<div class="row p-5">
    <div class="col-md-4"></div>
    <div class="col-md-5">
        <!-- Admin app data:
        <div *ngFor="let item of list">
            {{item['link']}}
        </div> -->
    </div>
    <div class="col-md-2" >
        <label style="border-bottom: 1px solid black;">Notifications</label>
        <ul class="list-group" *ngFor="let notification of notifications">
            <li class="list-group-item"><span>{{notification.payload.val().notification}} </span>
                <!-- <a href="javascript:void(0)" (click)="deleteNotification(notification)">Remove</a> -->
            </li>
        </ul>
    </div>

</div>